<div class="container">
	<div class="signInDiv" ng-show='showSignin'>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 text-center">
				<div class="search-box">
					<div class="caption">
						<h3>Login</h3>
						<h4 style="color:red;" ng-show='errorMessage'>Invalid Credential</h4>
					</div>
					<form class="loginForm" name="loginForm" ng-submit="loginFormSubmit()">
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" ng-model='user.email'>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" ng-model='user.password'>
						</div>
						<div class="form-group">
							<input type="submit" id="submit" class="form-control" value="Submit">
						</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<p>You dont have any account? <a href="#" ng-click="openSignupForm()">Sign Up</a> here.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<div class="signUpDiv" ng-hide='showSignup'>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 text-center">
				<div class="search-box">
					<div class="caption">
						<h3>Register</h3>
						<h4 style="color:red;" ng-show='errorMessage'>Invalid Credential</h4>
					</div>
					<form class="loginForm" name="signupForm" ng-submit="signupFormSubmit()">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name" ng-model='user.name'>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" ng-model='user.email'>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" ng-model='user.password'>
							<input type="submit" id="submit" class="form-control" value="Submit">
						</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<p>You already have any account? <a href="#" ng-click="openSigninForm()">Sign In</a> here.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>